


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="pics/logo.jpeg">
    <!-- First font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <!-- Body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/about.css">
    <!-- About font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap" rel="stylesheet">
</head>





<main>

<article id="artc1">

  <br> International Concept Academy &nbsp; <br><br>

وحدة دعم تدريب بعد انتهاء الدراسة لتوفير الدعم اللازم لتقديم مستويات عالية
مؤسسة تربوية رائدة مرخصة دوليا لتدريب و تطوير الموارد البشرية و تسعى دائما لتقديم الدعم المجتمعي 
الواجب حيث تتضمن الدراسة لدينا بعناصر تدريبية بمستوى عالي من التعليم.

لا تتوقف طموحاتنا عند تقديم الخدمات التدريبية في مختلف المجالات فحسب،
حيث أننا أيضا نسعى هنا الى تقديم مجموعة فريدة من البرامج التدريبية المتميزة والحصرية.

<br><hr>

الرسالة &nbsp; <br><br>

إعداد كوادر علمية متخصصة ومتميزة فى المجالات المختلفة ،
 والتسويق وكثير من المجالات التي يتطلبها سوق العمل
 ودعم المهتمين و المدربين الدوليين بأحدث المعارف والمهارات اللازمة لبناء كوادر تدريبية محترف وتنمية مهارات الافراد والطلاب 
العلمية والعملية بما يجعلهم قادرين على الابتكار والتعلم الذاتى والعمل الجماعى .

<br><hr>

هدفنا &nbsp; <br><br>

العمل على تحديث المواد العلمية المستخدمة في التدريب المهني مما يجعلها متزامنة مع التحديات والتطورات العصرية.
النهوض بمستوى التدريب من خلال مدربينا الأكثر خبرة والأفضل أداء في مجال التدريب.
النهوض بمستوى التدريب من خلال مدربينا الأكثر خبرة والأفضل أداء في مجال التدريب.
تقديم الاستشارات والحلول والاشراف على تأسيس المراكز التدريبية بأفضل الامكانيات المهنية والاعتمادات الدولية.

<br><hr>

لماذا نحن &nbsp; <br><br>

الارتقاء بجودة الخدمات التدريبية المقدمة في بلداننا العربية من خلال:
 حصر الاحتياجات التدريبية الفعلية للشركات والافراد.
 الاعتماد على فريق تدريبي يمتلك المعرفة والقدرة والخبرة العملية برامج تدريبية تلبى الاحتياجات المعرفية 
و التطبيقية والمجتمعية استخدام وسائل ومعينات تدريبية وطرق تدريبية متطورة ومبتكرة 
المساهمة فى رفع الاداء فى شتى المجالات التعليمية والتدريبية والبحثية 
السعى الى الحصول على معدلات رضاء عملاء الاكاديمية من خلال تقديم خدمات تدريبية متميزة وشهادات معتمده 
من كبرى الجامعات الدوليه تنمية وتدريب الموارد البشرية لرفع قدراتهم الإنتاجية المساهمة 
فى خدمة المجتمع والبيئة. رفع مستوى وعى الشباب و المساهمة فى تنشئة جيل متميز قادر علي تنمية المجتمع

<br><br>

</article>

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

