@{
    ViewData["Title"] = "Home Page";
    var nunber = 1;
    var courseNumber = 1;

}
@inject BLL.Interface.IAboutRep slider

@{
    var data = slider.Getcontact();
}
<!DOCTYPE html>
<html lang="en">
<head>
 
    <!-- First font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <!-- Body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/home.css">
  </head>


<body>

 
    <main>
        <center>
            <div>@Html.Raw(data.Name)</div>
   </center>
<br><br>
    </main>



  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>