
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href="~/pics/logo.jpeg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="~/pics/logo.jpeg">
    <!-- First font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <!-- Body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<!-- Courses font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/courses.css">  
</head>


<body>

  <center><h1 id="ica">International Concept Academy</h1></center>

  <main dir="rtl">
    <br><br><br>
    <article id="content">
        <p id="ctitle">
           <b> نبذة عن الدبلوم</b> <br>
ماجستير التدريب والإرشاد النفسي<br>

بتوثيق الخارجية المصرية ومكتب التصديقات وختم النسر
        </p>

        <img src="../pics/m.jpg">
        <br><br>
        <p>
            <b>ماجستير التدريب والإرشاد النفسي</b><br>
            <br><b>معلومات حول البرنامج</b><br> 
            إعداد كادر مهني متخصص محترف بأحدث المعارف والمهارات اللازمة في مجال التدريب والإرشاد والتوجيه الاسري والتربوي والنفسي بدرجة مهنية رفيعة باعتماد معتمد في جميع الدول العربية " شهادة موثقة من الخارجية المصرية ".
<br>
            <br><b>الدراسة</b><br>
            يقوم دارس برنامج الماجستير المهني في التدريب والإرشاد النفسي بدراسة بعض الدبلومات المهنية المقررة التي تكسبه الخبرة والمهارة والرؤية اللازمة لتحديد مساره المهني في عالم التدريب ومن ثم تأهيله إلى الحصول على شهادة الماجستير المهني في التدريب والإرشاد النفسي

وبناءاً على ما سبق فسيقوم الدارس بالمشاركة في الدبلومات المهنية التي قررتها الهيئة القائمة بالتدريب بالأكاديمية المصرية للتدريب والإدارة. <br><br>
<b>مقررات برنامج الماجستير المهني في التدريب والإرشاد النفسي</b><br>
أولا: دبلوم المدرب الدولي المعتمد (تدريب المدربين TOT)
<br>
ثانيا: دبلوم المستشار الأسري والتربوي
<br>
ثالثا: دبلوم الإرشاد النفسي المتقدم<br>

ويتم تحديد مواعيد دراسة الدبلومات المهنية المقررة تبعاً للمخطط الزمني الذي يتم تحديده من قبل الهيئة القائمة بالتدريب<br>
بالأكاديمية المصرية للتدريب والإدارة بالتنسيق مع فريق العمل المنظم للقاءات وفاعليات البرامج التدريبية<br>
وعلى الدارس تقديم كل ما يلزم هذه المقررات من (حضور – أنشطة – تدريبات) للحصول على الشهادة الممنوحة لكل مقرر. <br><br>
<b>مدة الدراسة</b><br>
عند قيام الدارس بالمشاركة في الدبلومات المهنية المقررة لبرنامج الماجستير المهني في التدريب والإرشاد النفسي المتقدم<br>
يتم احتساب عدد الساعات التدريبية لكل برنامج على حدة<br><br>
<b>المقررات وتفاصيلها</b><br><br>
<b>أولا: دبلوم المدرب الدولي المعتمد (تدريب المدربين – TOT)</b>
مدة البرنامج: <br>
يتم تقديم تلك الدورة من خلال قاعة تطبيق الاجتماعات واللقاءات عن بعد ZOOM


مدة دراسة الدبلوم ثلاثة أسابيع بواقع تسع محاضرات بموجب (60 ساعة تدريبية).

تقدم المحاضرات أسبوعيا على النحو التالي: <br>
ثلاث محاضرات أسبوعية أيام (الخميس، الجمعة والسبت) من كل أسبوع. <br>
المحاضرة تبدأ الساعة 8:30 م إلى 10:30 م بتوقيت مكة المكرمة. <br><br>
<b>ثانياً: دبلوم المستشار الأسري والتربوي</b> <br>
برنامج تدريبي يؤهل دارسه ليكون موجه تربوي ومرشد أسري خبير من خلال اكسابه العديد من الخبرات النظرية والتطبيقية خلال هذا البرنامج. <br>
مدة البرنامج: <br>
يتم تقديم تلك الدورة من خلال قاعة تطبيق الاجتماعات واللقاءات عن بعد ZOOM

مدة دراسة الدبلوم أسبوعين بواقع ست محاضرات بموجب (45 ساعة تدريبية)

تقدم المحاضرات أسبوعيا على النحو التالي <br>
ثلاث محاضرات أسبوعية أيام (الخميس، الجمعة والسبت) من كل أسبوع <br>
المحاضرة تبدأ الساعة 8:30 م إلى 10:30 م بتوقيت مكة المكرمة <br><br>
<b>ثالثاً: دبلوم الارشاد النفسي المتقدم</b><br>
برنامج تدريبي لتأهيل مرشد ومستشار نفسي قادر على تحليل وتشخيص الحالات النفسية وتقديم الاستشارات النفسية من خلال الخبرات التي يكتسبها الدارس من خلال اقوى المدربين والاستشاريين النفسيين القائمين على التدريب وتقديم البرنامج <br>
مدة البرنامج <br>
تم تقديم تلك الدورة من خلال قاعة تطبيق الاجتماعات واللقاءات عن بعد ZOOM

مدة دراسة الدبلوم ثلاثة أسابيع بواقع تسع محاضرات بموجب (60 ساعة تدريبية) <br><br>
<b>تقدم المحاضرات أسبوعيا على النحو التالي:</b><br>
ثلاث محاضرات أسبوعية أيام (الخميس، الجمعة والسبت) من كل أسبوع<br>
المحاضرة تبدأ الساعة 8:30 م إلى 10:30 م بتوقيت مكة المكرمة <br>
وبعد اكتمال مسيرة الدراسة للمقررات الثلاثة يتم ضم جميع المدد التدريبية لهم والأنشطة والتدريبات واحتسابها لعدد الساعات الخاص بالماجستير المهني في التدريب والإرشاد النفسي الذي هو بموجب من 260 ~ 300 ساعة تدريبية. <br><br>
<b>المستندات المطلوبة للاشتراك: -</b><br>
- صورة المؤهل الدراسي <br>
- صورة شخصية ملونة <br>
- صورة جواز السفر ملونة <br>
- إيصال تحويل الرسوم <br>
ترسل هذه الطلبات على البريد الإلكتروني <br>
يتم ارسال جميع المستندات للدارس إلى عنوانه الذي يحدده في البيانات المسجلة في ملف الالتحاق عبر احدى الشركات الكبرى للشحن الدولي والمحلي – Aramex -بدون أي رسوم للشحن او أي تكاليف إضافية <br>

        </p>
        <center><button type="button" id="signb"><a target="_blank" href="/Home/Form"><b>تسجيل</b></a></button></center>
    </article>

  </main>
  
  <footer>

    <center><nav class="navbar bg-light">
      <div class="container-fluid">
        <span class="navbar-brand">International Concept Academy | Copyright © 2022</span>
      </div>
    </nav></center>

  </footer>
</body>
</html></html>
