
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="~/pics/logo.jpeg">
    <!-- First font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <!-- Body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/courses.css">
  </head>


<body>

  <center><h1 id="ica" id="footer">International Concept Academy</h1></center>

  <main>

    <article>
      <center>

      <div class="card float-start" style="width: 18rem;">
        <img src="~/pics/m.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Course 1</h5>
          <p class="card-text">ماجستير التدريب والإرشاد النفس<br>
            بتوثيق الخارجية المصرية ومكتب التصديقات وختم النسر
          </p>
          <a target="_blank" href="/Hiome/CourseDetail" class="btn">Get it now</a>
        </div>
      </div>
      
      <div class="card float-start" style="width: 18rem;">
        <img src="pics/m.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Course 2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn">Get it now</a>
        </div>
      </div>

      <div class="card float-start" style="width: 18rem;">
        <img src="pics/m.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Course 3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn">Get it now</a>
        </div>
      </div>

      <div class="card float-start" style="width: 18rem;">
        <img src="pics/m.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Course 4</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn">Get it now</a>
        </div>
      </div>

    </center>
    </article>

  </main>
</body>
</html>