
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href=".~/pics/logo.jpeg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="~/pics/logo.jpeg">
    <!-- First font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <!-- Body font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/courses.css"> 

<!-- Courses font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/courses.css"> 
<link rel="stylesheet" href="~/css/form.css">
</head>

<body>

    <center><h1 id="ica" id="footer">International Concept Academy</h1></center>

    <main>
    <header>
    </header>
    <article id="top" dir="rtl">
    <p><b>استمارة التسجيل -الماجستير- الدكتوراه - دبلوم (مهني)</b></p>
    
    <p>
        الان عن بعد وبشهادة معتمدة ومصدقة من وزارة الخارجية المصرية وسفارة دولتك. <br>
 فرصة لمن يبحث عن التميز. <br><br>
 - باعتماد وتصديق كلا من :- <br>
 1- توثيق السفارة السعودية ( متاح التوثيق من اي سفارة  ) <br>
 2- توثيق وزارة الخارجية المصرية ( بختم النسر مع امكانية التصادق عليها من خارجية دولتكم ) <br>
 3- تصديق مكتب التوثيقات والتصديقات ( كود تصديق خاص بكم ) <br>
    </p>
</article><br><br><br>

    <form dir="rtl">
        <label>اسم الماجستير-الدكتوراه-الدبلوم( المراد الحصول عليه ) <span style="color:#ff0000">*</span></label><br>
        <input type="text" required autofocus><br><br>
        <label>الاسم باللغة العربية <span style="color:#ff0000">*</span></label><br>
        <input type="text" required autofocus><br><br>
        <label>رقم الواتس أب <span style="color:#ff0000">*</span></label><br>
        <input type="text" required autofocus><br><br>
        <label>البريد الالكتروني<span style="color:#ff0000">*</span></label><br>
        <input type="email" required autofocus><br><br>
        <label>الدولة <span style="color:#ff0000">*</span></label><br>
        <input type="text" required autofocus><br><br>
        <label>كلمة المرور <span style="color:#ff0000">*</span></label><br>
        <input type="password" required autofocus><br><br>
        <label>تأكيد كلمة المرور <span style="color:#ff0000">*</span></label><br>
        <input type="password" required autofocus><br><br>
        <button type="submit">ارسال</button>
    </form>
    </main>
</body>
</html>