@model DAL.ViewModel.ActiveteCoursesViewModel
@{
    ViewData["Title"] = "Active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/css/jquery-te-1.4.0.css">



<style>
    label{
            color: cadetblue;
    }
</style>
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Index">Dashboard</a></li>
                                <li class="active"> About Us </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update About Us</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                     <div class="col-md-12">
        <form asp-action="Active" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <div class="form-group">
               
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                 <textarea asp-for="Name"  class="jqte-test">hhhh</textarea>

                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
                            </div>

                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/css/jquery-te-1.4.0.min.js" charset="utf-8"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
	$('.jqte-test').jqte();
	
	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});
</script>



