

@model DAL.ViewModel.CoursesTimeViewModel

@{
    ViewData["Title"] = "AddCoursesTime";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int id = ViewBag.id;

}
@inject BLL.Interface.ICourseDetail course
@{
    var date = course.GetAll(id);
}
<style>
    label{
            color: cadetblue;
    }
</style>
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Index">Dashboard</a></li>
                                <li class="active"> Courses </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Add Courses Date</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                     <form >
           
            <div class="form-group">
                <label class="control-label"> Course Link</label>
                <input id="link"  type="text" class="form-control"placeholder="Course Link" />
            </div>
          
            <div class="form-group">
                <input onclick="Save()" type="button" value="Add" class="btn btn-primary" />
            </div>
        </form>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Add Courses Date</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                     <form method="post" asp-action="AddCoursesTime"  enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <input type="hidden" asp-for="FK_CourseId" value="@id" />
            <div class="form-group">
                <label asp-for="Day" class="control-label">Day</label>
                <select asp-for="Day" class="form-control">
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
              
                </select>
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"> Slider Description</label>
                <input asp-for="Time" type="time" class="form-control"placeholder="Courses Description" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (date !=null)
   {
        <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Course Time Table</strong>
                        </div>
                        <div class="card-body">
                            <table id="tblSlider"  class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        
                                        <th>Day</th>
                                        <th>Time</th>
                                        <th>Remove</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in date)
                                   {
                                       <tr>
                                        
                                        <th>@item.Day</th>
                                        <th>@item.Time</th>
                                        <th>  <a onclick="Delete(@item.Id)" class="col-4 btn delete m-0 p-1 p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                <i style="color: red;" class="fa-solid fa-trash-can"></i>
                                                                               </a>
                            </th>
                                       
                                    </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
   }
     
    

<div class="row" style="text-align:center">
    <div class="col-md-12">
        <button class="btn btn-danger" onclick="Finsh(@id)" >Finsh Course</button>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
     function Delete(id) {
        swal({
            title: `Are you sure you want to delete this record?`,
            text: "If you delete this, it will be gone forever.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({

                        type: "POST",
                        url: "/Admin/DeleteCourseTime",
                        data: {
                            id: id,

                        },

                        success: function (res) {

                            swal("Deleted!", "Your imaginary file has been archived.", "success");
                           location.reload();

                        }

                    });
                }
            });
    }
  function Finsh(id){
         swal({
            title: `Are you sure you want to Findh this Course?`,
            text: "If you Finch this, it will be gone forever.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({

                        type: "POST",
                        url: "/Admin/finshCourses",
                        data: {
                            id: id,

                        },

                        success: function (res) {

                            swal("Deleted!", "Your imaginary file has been archived.", "success");
                            window.location = "/Admin/AllCourses"

                        }

                    });
                }
            });
  }  
function Save() {
    var id=@id;
    var link=$("#link").val();
         $.ajax({

                        type: "POST",
                        url: "/Admin/AddCoursesLink",
                        data: {
                            id: id,
                            link:link,

                        },

                        success: function (res) {

                            swal("Accept!", "Your imaginary file has been archived.", "success");
                            location.href="/Admin/AllCourses";

                        }

                    });
    }
</script>
