@model DAL.ViewModel.UpdateCoursesViewModel

@{
    ViewData["Title"] = "UpdateCourses";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<<style>
    label{
            color: cadetblue;
    }
</style>
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Index">Dashboard</a></li>
                                <li class="active"> Courses </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update Courses</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
          <form method="post" asp-action="UpdateCourses"   enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label">Courses Name</label>
                <input asp-for="Name" class="form-control" placeholder="Courses Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"> Courses Description</label>
                <input asp-for="Description" class="form-control"placeholder="Courses Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label">Image</label>
                <input type="file" asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
                                </div>
                                  <div class="col-md-6">
                                      <img style="margin-top: 60px;" src="~/Image/@Model.Image">
                            </div>
                            </div>
                          

                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
