@model DAL.ViewModel.AdminviewModel
@{
    ViewData["Title"] = "UpdateAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    label{
            color: cadetblue;
    }
</style>
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Index">Dashboard</a></li>
                                <li class="active"> Update Admin Information </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update Email Or UserName</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">


                                    <form method="post" asp-action="Updateinfo"   enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="UserId" type="hidden" />
           
            <div class="form-group">
                <label asp-for="Name" class="control-label">Slider Name</label>
                <input asp-for="Name" class="form-control" placeholder="Admin Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"> Email</label>
                <input asp-for="Email" class="form-control"placeholder="a123@gmail.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Phone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

      
                                </div>
                            </div>

                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


